/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e8ddcb;
    text-align: center; /* Centers the card in the middle of the page */
}


.content {
    padding: 20px;
    height: 450px; /* Fixed height */
    text-align: center; /* Centers the text inside the card */
}

.footer {
    background-color: #654321;
    color: white;
    padding: 15px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bo-goc-anh {
    border-radius: 15px;
}

.yellow-text { color: #e6d315; text-shadow: 1px 1px 0 #000; }
.brown-text { color: #654321; }

table {
    width: 100%;
    border: none;
    border-spacing: 20px; /* Tạo khoảng cách giữa các ô 20px */
}

.carousel-container {
    display: flex; /* Dùng Flexbox để xếp các item ngang hàng */
    overflow-x: scroll; /* Cuộn ngang & Ẩn các mục thừa */
    overflow-y: hidden;
    scroll-snap-type: x mandatory; 
    padding-bottom: 20px; 
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.item {
    flex-shrink: 0; /* Ngăn item bị co khi cuộn */
    width: 33.33%; /* Chiếm 1/3 container */
    margin-right: 20px; /* Tạo khoảng cách giữa các item */
    min-height: 400px;
}

/* Định dạng text tiêu đề lớn */
.big-title {
    font-size: 80px;
    line-height: 0.9;
    font-weight: bold;
    color: #654321; /* Dùng mã màu nâu trong footer của bạn */
    text-transform: uppercase;
}

.sub-title {
    font-size: 30px;
    color: #8B5A2B;
    font-weight: bold;
    text-transform: uppercase;
}

